<h1>Relatório de Usuário nº <%- props.id %></h1>

<ul>
  <li><p>Id: <%- props.id %></p></li>
  <li><p>Nome de usuário: <%- props.username %></p></li>
  <li><p>Senha: <%- props.senha %></p></li>
</ul>
